@import 'styles.css';

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: var(--normal-font-size);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    z-index: 99;
    border: 1px solid var(--bright-grey-color);
    background-color: var(--dark-grey-color);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}

.container-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
}

.container-item select {
    width: 150px;
    border-radius: 10px;
    padding: 2px 5px;
}

input {
    font-size: 16px;
    padding: 4px 5px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
}

select {
    height: 25px;
    font-size: 16px;
    color: rgb(74, 74, 74);
}

.container-display-header {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 150px 500px 500px 50px;
}

.container-display-list {
    list-style: none;
}

.container-display-item {
    display: grid;
    grid-template-columns: 150px 500px 500px 50px;
    padding: 25px 0px;
}

.track-cover {
    height: 60px;
    width: 60px;
    background-color: black;
    margin-right: 15px;
}

.track-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track-title-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.track-artist {
    font-weight: var(--thin-font-weight);
}

.btn-add {
    margin: 25px;
}