@import 'styles.css';


.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 50px 0px;
}

.headline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 35px;
    color: var(--green-color);
    margin-top: 10px;
}

.nav {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-link:hover {
    color: var(--text-color);
}