@import 'styles.css';

.likedSongs-container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 150px;
}

.likedSongs-section {
    border: 1px solid var(--grey-color);
    border-radius: 15px;
    height: auto;
    padding: 15px;
    width: 100%;
}

.header-list,
.likedSong-item {
    color: var(--text-color);
    list-style: none;
    width: 900px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 100px 500px 500px 50px;
}

.likedSong-item {
    margin: 35px 0px;
}

.header-list li {
    font-weight: var(--medium-font-weight);
}

.likedSong-img {
    height: 50px;
    width: 50px;
    background-color: black;
}

.likedSong-title {
    display: flex;
    align-self: start;
    gap: 15px;
}

.likedSong-title-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}