@import 'styles.css';

.likedSongs-container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 150px;
}

.likedSongs-section {
    border: 1px solid var(--grey-color);
    border-radius: 15px;
    height: auto;
    width: 100%;
    max-width: 1200px;
}

.header-list,
.likedSong-item {
    color: var(--text-color);
    list-style: none;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.likedSong-item {
    margin: 35px 0px;
}

.header-list li {
    font-weight: var(--medium-font-weight);
}

.likedSong-img {
    height: 50px;
    width: 50px;
    background-color: black;
}

.likedSong-title {
    display: flex;
    align-self: start;
    gap: 15px;
}

.likedSong-title-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-list li:nth-of-type(5) {
    display: none;
}

.likedSong-item p:nth-last-of-type(1){
    display: none;
}

.likedSong-item .likedSong-title-details > p:nth-last-of-type(1){
    display: block;
}

@media screen and (max-width: 768px) {
    .header-list {
        display: grid;
        grid-template-columns: 10% 75% 10%;
        margin: 10px 0px;
        justify-self: center;
    }

    .header-list li:nth-of-type(3) {
        display: none;
    }

    .header-list li:nth-of-type(4) {
        display: none;
    }

    .header-list li:nth-of-type(5) {
        display: block;
    }

    .likedSong-item {
        grid-template-columns: 10% 75% 10%;
        /* margin-left: 25px;
        margin-right: 25px; */
    }

    .container-main p:nth-last-of-type(3) {
        display: none;
    }

    .container-main p:nth-last-of-type(1) {
        display: block;
    }

    /* .container-main .likedSong-item .likedSong-title-details > p:nth-of-type(1) {
        display: block;
    } */

    .likedSong-item p:nth-of-type(3) {
        display: none;
    }

    .likedSong-img p:nth-of-type(4) {
        display: block;
    }



}