@import 'styles.css';

.login-page {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page a {
    font-size: var(--large-font-size);
    text-decoration: none;
    color: var(--black-grey-color);
    padding: 15px 20px;
    border-radius: 35px;
    background-color: var(--green-color);
    font-weight: var(--medium-font-weight);
}

.logout-page {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 125px;
    margin-bottom: 50px;
}
