.player-container {
    position: fixed;
    bottom: 0;
    background-color: var(--black-grey-color);
    width: 20vw;
    height: 100vh;
    border: 1px solid var(--dark-grey-color);
    display: grid;
    grid-template-rows: 20vh 30vh 50vh;
}

.player-display {
    width: 300px;
    height: 300px;
    background-color: var(--dark-grey-color);
    position: fixed;
    bottom: 0;
}

.player-header {
    grid-row-start: 2;
}

/** Player Display **/
.player-display {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.player-cover {
    height: 175px;
    width: 175px;
    background-color: black;
    margin: 10px 0px;
}

.now-playing-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.player-audio-control {
    margin-top: 18px;
    display: flex;
    gap: 15px;
}