* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Monserrat', sans-serif;
    color: white;
}

span {
    color: green;
    font-weight: 600;
}

.normal {
    font-weight: 300;
}

.medium {
    font-weight: 600;
}

.small {
    font-weight: 100;
    font-size: 14px;
}
.profile-section {
    display: grid;
    grid-template-columns: 250px 475px 475px;
    column-gap: 25px;
}

.profile-container,
.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.profile-header .profile-picture {
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 100px;
}

.profile-header-title {
    font-weight: 600;
    font-size: 20px;
}

.profile-header-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.profile-links {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.profile-links a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: black;
}

.profile-links a:hover {
    color: green;
    font-weight: 600;
    border-color: green;
}

.profile-overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-bottom: 75px;
}

.center-line {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.top-tracks,
.top-artist {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    border: 1px solid white;
    border-radius: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
}

.top-header .top-title {
    font-weight: 600;
    color: white;
    font-size: 18px;
}

.top-title {
    margin-left: 35px;
}

.top-header button {
    font-size: 16px;
    padding: 10px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 35px;
}

.top-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.list-item-left {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    margin: 15px 30px;
}

.top-track-names {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    padding-left: 15px;
}

.top-track-img {
    height: 55px;
    width: 55px;
    background-color: black;
}

.top-artist-img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: black;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-artist .list-item {
    margin: 17px 35px;
}

.generate-button {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.generate-button .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: green;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

